
.myNav{
 
/* margin-left: 150px; */
font-size: 22px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #FFE4C4;
}


.myHome{
padding-top: 35px;
}

/* #bottom-bar {
    background: #170f00;
    border-top: none;
    padding: 20px 0;

} */

div.center {
    text-align: center;
}

.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}

#heading{

    font-size: 60px;
}


.card{
  background-color:#f3d2b7ef;
 
}





h3{
    margin-bottom: 15px;
}
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.25s ease;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        line-height: 1;
    font-size: inherit;
    
}


/*css file*/


/*   
  .navbar{
   margin: 0 0 0 0;
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
    padding: 1rem 20rem;
    padding-right:5px;
    width:100%;
  } */
  #loc{
  margin-left:-310px;   
  color:blue;
  padding-right:50px;
  }
  #ph{
  color:blue;
  margin-left:380px;
  }
  .jumbotron{
  margin-bottom:0px;
  margin-top:0px;
  
 }
  #im{
  
  
  display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #capt{
  text-align:center;
  font-family: Palatino, "Palatino Linotype";
  font-size: 40px;  
  font-weight: 700;
  color:rgb(12, 12, 12);
  }

  #menu{

    font-family: Palatino, "Palatino Linotype";
    font-size: 40px;  
    font-weight: 700;
    color:rgb(12, 12, 12);




  }
  
  .carousel{
  width:100%;
  height:600px;
  }
  
  .carousel .left > i,
.carousel .right > i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.carousel .right > i {
  left: auto;
  right: 20px;
}
  object{
  border-color:gray;
  position:relative;
  top:90px;
  left:-130px;
  
  }
 
 
 .embed-responsive-item{
 max-height:300px; max-width:305px;
 
 
 }
 h2,h4{
 font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
 }

 .btn{
 /* position:absolute; */
left:180px;
 bottom:5px;
 }
 .mapsection{
 width:auto;
 height:500px;
 margin:20px;
 }
 #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: brown;
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 120px; 
    font-size: 18px; 
    opacity:0.8;
    
}

#myBtn:hover {
    background-color: rgba(240, 166, 123, 0.815); 
}
 .row{
 bcolor:blue;
 
}

.card-img-overlay:hover
{
        box-shadow: inset 0 0 0 25px #9e4904;
}
 
 .mapsection{
 margin-bottom:0px;
 margin-top:0px;
 
 }
  
